@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Regular.eot");
  src: url("fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Medium.eot");
  src: url("fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Bold.eot");
  src: url("fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Galien';
  src: url("fonts/Galien/Galien-Regular.eot");
  src: url("fonts/Galien/Galien-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Galien/Galien-Regular.woff") format("woff"), url("fonts/Galien/Galien-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galien';
  src: url("fonts/Galien/Galien-Bold.eot");
  src: url("fonts/Galien/Galien-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Galien/Galien-Bold.woff") format("woff"), url("fonts/Galien/Galien-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Regular.eot");
  src: url("fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Medium.eot");
  src: url("fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy/Gilroy-Bold.eot");
  src: url("fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Galien';
  src: url("fonts/Galien/Galien-Regular.eot");
  src: url("fonts/Galien/Galien-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Galien/Galien-Regular.woff") format("woff"), url("fonts/Galien/Galien-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galien';
  src: url("fonts/Galien/Galien-Bold.eot");
  src: url("fonts/Galien/Galien-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Galien/Galien-Bold.woff") format("woff"), url("fonts/Galien/Galien-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Gilroy';
  padding: 0;
  margin: 0;
  color: #1F3F68;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, h1, h2, h3, h4, a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 972px;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
}

button:active {
  outline: none;
  opacity: 0.7;
}

button:focus {
  outline: none;
}

a:active {
  outline: none;
  opacity: 0.8;
}

a:focus {
  outline: none;
}

input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
}

span {
  letter-spacing: 0.05em;
  font-size: 1rem;
}

.header1, .header2, .header3 {
  margin: 0;
  padding: 0;
}

.header1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: Galien;
  letter-spacing: 0.04em;
}

.header2 {
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #316099;
  font-size: 2.25rem;
}

.burger {
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger__icon {
  position: relative;
  width: 30px;
  top: 13px;
  height: 3px;
  background-color: #F2994A;
}

.burger__icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #F2994A;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger__icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #F2994A;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger__icon.burger__icon-active {
  background-color: transparent;
}

.burger__icon.burger__icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.burger__icon.burger__icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobilemenu {
  z-index: 299;
  width: 100%;
  height: calc(100vh - 50px);
  position: fixed;
  left: -100%;
  top: 50px;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  background: #151515;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (min-width: 426px) {
  .mobilemenu {
    background: rgba(0, 0, 0, 0.83);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.mobilemenu.active {
  left: 0;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */