@import '_fonts'
@import '_mixins'

// osnova=====================================================================================================================================

$sprite: url('../img/spritesheet.png') no-repeat

body
    font-family: 'Gilroy'
    padding: 0
    margin: 0
    overflow-x: hidden
    color: #1F3F68
    & *
        box-sizing: border-box
   

ul, h1, h2, h3, h4, a
    list-style: none
    padding: 0
    margin: 0
    text-decoration: none

.wrap
    position: relative
    height: 100%
    overflow: hidden

.wrapper
    position: relative
    width: 100%
    max-width: 972px
    padding: 0 16px
    margin: 0 auto
    display: flex
    align-items: center

.main
    background: white
    width: 100%


// BACKGROUNDS

.blue-bg1
    background: #5A98D0
    border-radius: 200px 0px 0px 0px
    width: 100%
    +media-until($desktop)
        border-radius: 100px 0px 0px 0px
    +until-desktop
        border-radius: 0

.blue-bg2
    background: #316099
    border-radius: 0px 200px 0px 0px
    margin-right: 96px
    +media-until($desktop)
        margin-right: 0
        border-radius: 0
        right: 0

// buttons, inputs=================================================================================================================================
button
    font-family: 'Gilroy'
    text-align: center
    cursor: pointer
    background: none
    border: none
    color: white
    font-size: 1rem
    &:disabled
        opacity: 0.5
    &:active
        outline: none
        opacity: 0.7
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent
    &:focus
        outline: none
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent
a
    &:active
        outline: none
        opacity: 0.7
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent
    &:focus
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent
        outline: none

input, select, textarea
    font-family: 'Gilroy'
    letter-spacing: 0.04em
    line-height: 1.875rem
    font-size: 1rem
    border: none
    &:active
        &:active
        outline: none
        opacity: 0.7
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent
    &:focus
        outline: none
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
        -webkit-tap-highlight-color: transparent

// text==============================================================================================================================================

// TEXT
html
    font-size: 16px
    +while-mob
        font-size: 14px
    +media-until(320px)
        font-size: 12px


p
    margin: 0
    padding: 0
    opacity: 0.6
    
a, span, p
    letter-spacing: 0.05em
    font-size: 1rem
    line-height: 1.625rem

.header1, .header2, .header3
    margin: 0
    padding: 0
    +until-tablet
        text-align: center


.header1
    font-size: 4rem
    font-weight: bold
    font-family: Galien
    line-height: 4.625rem
    letter-spacing: 0.04em
    +until-tablet
        font-size: 3rem
        line-height: 3.5rem
    
.header2
    letter-spacing: 0.05em
    font-weight: 600
    line-height: 2.875rem
    color: #316099
    font-size: 2.25rem

.header3
    font-size: 1.25rem
    line-height: 1.875rem
    color: #1F3F68
    letter-spacing: 0.04em
    font-weight: 600