%button
    background: #5A98D0
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
    border-radius: 10px
    line-height: 26px
    padding: 15px
    width: 100%
    flex-shrink: 0
    &:hover
        background: #316099